<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JAM | Job Application Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
	  .current-state {
		text-decoration: underline;
	  }
    </style>
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
	
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">JAM</a>

        </div>
      </div>
    </div>
	
	<div class="container">
	
		<div class="container-welcome" data-bind="visible: isUserDefined() == 0">
			<div class="welcome-message">
				<h4>Welcome to JAM !</h4><br />
				You don't need to register, just click on the button below, and start your applications !<br />
				Good luck !<br />
				<a href="#" class="btn btn-info" data-bind="click: startNew">Start now !</a>
			</div>
		</div>
	
		<div class="container-edit" data-bind="visible: isUserDefined() != 0">
		
			<div id="globalStates" class="span12">
				Waiting for answer: <strong data-bind="html: $root.waitingForAnswer().length"></strong>
				In progress: <strong data-bind="html: $root.inProgress().length"></strong>
				Declined: <strong data-bind="html: $root.closed().length"></strong>
				Hired <strong data-bind="html: $root.hired().length"></strong>
				<hr />
			</div>
			
			<div id="manager" class="span9">
				
				<div id="applicationsFilter" class="span2">
					<h5>Filters</h5>
					<table>
						<tr>
							<td><input type="text" data-bind="value: filter_email, valueUpdate: 'afterkeydown'" class="input-small" id="email_filter" placeholder="Company email" /></td>
						</tr>
						<tr>
							<td><input type="text" data-bind="value: filter_name, valueUpdate: 'afterkeydown'" class="input-small" id="name_filter" placeholder="Company name" /></td>
						</tr>
						<tr>
							<td><input type="checkbox" data-bind="value: filter_wait" id="filter_state_0" />&nbsp;Waiting for answer</td>
						</tr>						
						<tr>
							<td><input type="checkbox" data-bind="value: filter_progress" id="filter_state_1" />&nbsp;In progress</td>
						</tr>
						<tr>
							<td><input type="checkbox" data-bind="value: filter_declined" id="filter_tate_2" />&nbsp;Declined</td>
						</tr>
						<tr>
							<td><input type="checkbox" data-bind="value: filter_hired" id="filter_state_3" />&nbsp;Hired</td>
						</tr>
					</table>
				</div>
				
				<div id="applicationsList" class="span3">
					<ul>				
						<!-- ko foreach: filteredApps-->
						<li>
							<a class="applicationMail" href="#" data-bind="click: $root.chooseApplication, html: mail"></a>
							<a href="#"><i data-bind="click: $root.removeApplication" class="icon-remove"></i></a>
						</li>
						<!-- /ko -->
						<li><a href="#" data-bind="click: $root.addApplication">Add new</a></li>
					</ul>
					<button data-bind="click: save">Save everything</button>
				</div>
				
				<div id="viewApplication" class="span3" data-bind="with: chosenApplicationData">
					
					Email: <input type="text" data-bind="value: mail" /><br />
					Company: <input type="text" data-bind="value: company" /><br />
					Cover letter:<br />
					<textarea cols="10" rows="10" data-bind="html: content"></textarea>
					
					<ul id="applicationStates">
						<!-- ko foreach: $root.states -->
						<li><a href="#" data-bind=" text: $data, 
													css: { 'current-state': $data == $root.states[$parent.get_state()] },
													click: $parent.set_state.bind(null, $index())"></a></li>
						<!-- /ko -->
					</ul>
				</div>
			</div>
		</div>
		
		<footer class="span12">
			<hr />
			<p>Job Application Manager - Contact - Sitemap</p>
		</footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
		var BASE_URL = "{baseUrl}";
	</script>
    <script src="./assets/js/jquery.js"></script>
    <script src="https://raw.github.com/quirkey/sammy/master/lib/min/sammy-latest.min.js"></script>
    <script src="./assets/js/bootstrap-transition.js"></script>
    <script src="./assets/js/bootstrap-alert.js"></script>
    <script src="./assets/js/bootstrap-modal.js"></script>
    <script src="./assets/js/bootstrap-dropdown.js"></script>
    <script src="./assets/js/bootstrap-scrollspy.js"></script>
    <script src="./assets/js/bootstrap-tab.js"></script>
    <script src="./assets/js/bootstrap-tooltip.js"></script>
    <script src="./assets/js/bootstrap-popover.js"></script>
    <script src="./assets/js/bootstrap-button.js"></script>
    <script src="./assets/js/bootstrap-collapse.js"></script>
    <script src="./assets/js/bootstrap-carousel.js"></script>
    <script src="./assets/js/bootstrap-typeahead.js"></script>
	<script src="./assets/js/knockout-2.1.0.js"></script>
    <script src="./assets/js/jam.js"></script>

  </body>
</html>
